// en=0->y=000,done=0
// en=1:优先级依次为in[0]>in[1]>...
//		in=00000000->y=000,done=0;
//		in=xxxxxxx1->y=000,done=1;
//		in=xxxxxx10->y=001,done=1;
NET "EN" LOC = R4;
NET "In[7]" LOC = T3;
NET "In[6]" LOC = U3;
NET "In[5]" LOC = T4;
NET "In[4]" LOC = V3;
NET "In[3]" LOC = V4;
NET "In[2]" LOC = W4;
NET "In[1]" LOC = Y4;
NET "In[0]" LOC = Y6;
NET "Y[2]" LOC = K1;
NET "Y[1]" LOC = J1;
NET "Y[0]" LOC = H2;
NET "Done" LOC = G2;


NET "EN" IOSTANDARD = LVCMOS18;
NET "In[7]" IOSTANDARD = LVCMOS18;
NET "In[6]" IOSTANDARD = LVCMOS18;
NET "In[5]" IOSTANDARD = LVCMOS18;
NET "In[4]" IOSTANDARD = LVCMOS18;
NET "In[3]" IOSTANDARD = LVCMOS18;
NET "In[2]" IOSTANDARD = LVCMOS18;
NET "In[1]" IOSTANDARD = LVCMOS18;
NET "In[0]" IOSTANDARD = LVCMOS18;
NET "Y[2]" IOSTANDARD = LVCMOS18;
NET "Y[1]" IOSTANDARD = LVCMOS18;
NET "Y[0]" IOSTANDARD = LVCMOS18;
NET "Done" IOSTANDARD = LVCMOS18;

NET "EN" PULLDOWN;
NET "In[7]" PULLDOWN;
NET "In[6]" PULLDOWN;
NET "In[5]" PULLDOWN;
NET "In[4]" PULLDOWN;
NET "In[3]" PULLDOWN;
NET "In[2]" PULLDOWN;
NET "In[1]" PULLDOWN;
NET "In[0]" PULLDOWN;