//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 17 19:01:27 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "R4" LEVEL 1;
COMP "q_" LOCATE = SITE "J1" LEVEL 1;
COMP "clr" LOCATE = SITE "U3" LEVEL 1;
COMP "q" LOCATE = SITE "K1" LEVEL 1;
COMP "pre" LOCATE = SITE "T3" LEVEL 1;
COMP "d" LOCATE = SITE "T4" LEVEL 1;
SCHEMATIC END;

