// g1=0||g2a=0||g2b=0, y=0000000;
// g1=1,g2a=1,g2b=0,->
//					cba=000,y=0000001;
//					cba=001,y=0000010;
NET "g1" LOC = T3;
NET "g2a" LOC = U3;
NET "g2b" LOC = T4;
NET "c" LOC = V3;
NET "b" LOC = V4;
NET "a" LOC = W4;
NET "Y[7]" LOC = K1;
NET "Y[6]" LOC = J1;
NET "Y[5]" LOC = H2;
NET "Y[4]" LOC = G2;
NET "Y[3]" LOC = F1;
NET "Y[2]" LOC = E2;
NET "Y[1]" LOC = D1;
NET "Y[0]" LOC = B1;

NET "g1" IOSTANDARD = LVCMOS18;
NET "g2a" IOSTANDARD = LVCMOS18;
NET "g2b" IOSTANDARD = LVCMOS18;
NET "c" IOSTANDARD = LVCMOS18;
NET "b" IOSTANDARD = LVCMOS18;
NET "a" IOSTANDARD = LVCMOS18;
NET "Y[7]" IOSTANDARD = LVCMOS18;
NET "Y[6]" IOSTANDARD = LVCMOS18;
NET "Y[5]" IOSTANDARD = LVCMOS18;
NET "Y[4]" IOSTANDARD = LVCMOS18;
NET "Y[3]" IOSTANDARD = LVCMOS18;
NET "Y[2]" IOSTANDARD = LVCMOS18;
NET "Y[1]" IOSTANDARD = LVCMOS18;
NET "Y[0]" IOSTANDARD = LVCMOS18;

NET "g1" PULLDOWN;
NET "g2a" PULLDOWN;
NET "g2b" PULLDOWN;
NET "c" PULLDOWN;
NET "b" PULLDOWN;
NET "a" PULLDOWN;
