//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 26 20:08:27 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "D1" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "F1" LEVEL 1;
COMP "Y<4>" LOCATE = SITE "G2" LEVEL 1;
COMP "Y<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "Y<6>" LOCATE = SITE "J1" LEVEL 1;
COMP "Y<7>" LOCATE = SITE "K1" LEVEL 1;
COMP "ipt<0>" LOCATE = SITE "W4" LEVEL 1;
COMP "ipt<1>" LOCATE = SITE "V4" LEVEL 1;
COMP "ipt<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "G<0>" LOCATE = SITE "T4" LEVEL 1;
COMP "G<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "G<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "B1" LEVEL 1;
SCHEMATIC END;

