NET "A" LOC = T3;
NET "B" LOC = U3;
NET "C" LOC = T4;
NET "D" LOC = V3;
NET "E" LOC = V4;
NET "Y" LOC = K1;

NET "A" IOSTANDARD = LVCMOS18;
NET "B" IOSTANDARD = LVCMOS18;
NET "C" IOSTANDARD = LVCMOS18;
NET "D" IOSTANDARD = LVCMOS18;
NET "E" IOSTANDARD = LVCMOS18;
NET "Y" IOSTANDARD = LVCMOS18;

NET "A" PULLDOWN;
NET "B" PULLDOWN;
NET "C" PULLDOWN;
NET "D" PULLDOWN;
NET "E" PULLDOWN;
