// SR=00,保持
// SR=01,复位，q=0
// SR=10,置位，q=1
// SR=11,禁止，q=1/0,q_=1/0
NET "R" LOC = T3;
NET "S" LOC = U3;
NET "Q" LOC = K1;
NET "Q_" LOC = J1;

NET "R" IOSTANDARD = LVCMOS18;
NET "S" IOSTANDARD = LVCMOS18;
NET "Q" IOSTANDARD = LVCMOS18;
NET "Q_" IOSTANDARD = LVCMOS18;

NET "R" PULLDOWN;
NET "S" PULLDOWN;
